#main-contacto{
    #contacto{
        padding: 50px 0;
        h2{
            text-align: center;
            margin-bottom: 20px;
        }
        form{
            max-width: 80%;
            margin: 0 auto;
            label{
                display: block;
                margin-bottom: 10px;
            }
            input{
                border-radius: 10px;
                border: 2px solid black;
                padding: 7px 5px;
                outline: 0;
                width: 100%;
            }
            textarea{
                border-radius: 10px;
                border: 2px solid black;
                padding: 7px 5px;
                outline: 0;
                width: 100%;
            }
            .boton-saber-mas{
                text-decoration: none;
                color: #16f3c7;
                padding: 7px 30px;
                border: 3px solid #16f3c7;
                border-radius: 30px;
                transition: all 0,4s;
            }
            .boton-saber-mas:hover{
                background-color: #16f3c7;
                color:#fff;
            }
        }
        textarea{
            max-width: 100%;
            min-width: 100%;
            max-height: 200px;
            min-height: 200px;
        }
        .mensaje{
        display: flex;
        flex-direction: column;
        padding: 20px;
        }
        .datos-form{
            display: flex;
            div{
                padding: 10px;
                flex: 1;
            }
        }
    }
}