#inicio{
    #banner{
        padding: 0 50px;
        background-image: url(../assets/img/banner.png);
        height: 70vh;
        background-size: cover;
        background-position: center;
        .contenido-banner{
            h3{
                font-size: 40px;
                font-weight: 400;
                padding: 80px 0;
                color: white;
                text-align: center;
                span{
                    font-weight: 600;
                }
            }
            p{
                text-align: center;
                font-size: 35px;
                padding: 10px 0;
            }
        }
    }
    #empresa{
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        img{
            padding: 0px 30px;
            width: 300px;
            max-width: 100%;
        }
        h4{
            text-align: center;
            padding: 30px;
            font-size: 25px;
        }
        h5{
            padding: 20px 0;
            font-size: 20px;
        }
        p{
            font-size: 20px;
        }
        .tecnico-pc{
            padding: 30px 30px;
        }
        .boton-saber-mas{
            text-decoration: none;
            color: #16f3c7;
            padding: 7px 30px;
            border: 3px solid #16f3c7;
            border-radius: 30px;
            transition: all 0,4s;
        }
        .boton-saber-mas:hover{
            background-color: #16f3c7;
            color:#fff;
        }
    }
}